* {
	box-sizing: border-box;
	background-color: #ffe582;
}

.header-logo {
	width: 20%;
	padding: 10px;
}

body {
  font-family: 'Grandstander', cursive;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}
