* {
	box-sizing: border-box;
}

html {
  overflow: auto;
}

body {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-image: url(https://cdn.statically.io/img/wallpaperplay.com/walls/full/7/4/a/127434.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #79c9fa;
  color: #000;
}

.page-container {
  margin-top: 100px;
}

.list-group {
  max-width: 250px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.modal-dialogue {
  overflow: auto;
}

img {
  image-resolution: from-image;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
